{% extends "base.html" %} {% block title %}login{% endblock %}
{% block head2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock head2 %}
{% block content %}
<section>
    <div class="container">
        <div class="write">
            <div class="text">
                <h1>Hello!</h1>
                <p>Sign in to your account</p>
            </div>
            <div class="form">
                <form method="post">
                    <div class="a">
                        <label for="email">Email Adress</label>
                        <input type="email"
                         placeholder="Enter your E-mail"
                         id="email"
                         name="email"
                          >
                    </div>
                    <div class="a">
                        <label for="password">Password</label>
                        <input type="password"
                         placeholder="Password"
                         id="password"
                         name="password"
                          >
                    </div>
                    <div class="b">
                        <label for="idNumber">ID Number</label>
                        <input type="text"
                         placeholder="ID Number"
                         id="idNumber"
                         name="idNumber"
                          >
                    </div>
                    <div class="button">
                        <input type="submit" value="Login">
                    </div>
                 </form>
            </div>
            <div class="lnk">
                <span>Don't have an account?</span><a href="/start">Sign Up</a>
            </div>
        </div>
        <div class="back">
            <h1>Welcome back</h1>
            <p>Welcome back! Please enter your details</p>
        </div>
    </div>
</section>
{% endblock %}