<!-- {% block title %}password{% endblock %} -->
{% block head12 %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/all.min.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style/password.css')}}"> 
{% endblock head12 %}
{% block content %}

    <!-- navbar  -->
    <nav>
        <div class="one">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <i></i>
                        <span>Menu</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="two">
            <ul>
                <li>
                    <a href="/dashboard">
                        <i></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/today">
                        <i></i>
                        <span>Today Appointment</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="chat.html">
                        <i></i>
                        <span>Chat</span>
                    </a>
                </li> -->
                <li>
                    <a href="/notification">
                        <i></i>
                        <span>Notifications</span>
                    </a>
                </li>
                <li>
                    <a href="/personal">
                        <i></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="three">
            <ul>
                <!-- <li>
                    <a href="">
                        <i></i>
                        <span>Profil</span>
                    </a>
                </li> -->
                <li>
                    <a href="">
                        <i></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- dashboard  -->
    <section class="dashboard">
        <div class="top">
            <!-- <button>Notification <i></i></button> -->
            <div class="content">
                <!-- <div class="btn">
                    <i></i><span>notifications</span><i></i>
                </div> -->
                <div class="image">
                    <img src="{{ url_for('static', filename='images/profil richard director.svg')}}" alt="">
                    <span>Bradely Jackson</span>
                </div>
            </div>
        </div>
        <div class="dash-content">
            <h3>Settings</h3>
            <div class="links">
                <button><a href="/personal">Personal information</a></button>
                <button><a href="/payment">Payment information</a></button>
                <button class="mdf"><a href="#">Password change</a></button>
            </div>
            <h3 class="mrg">Getting Paid</h3>
            <!-- <h4>ACH direct bank deposit</h4> -->
            <form>
                <div class="a">
                    <label>Current Password</label>
                    <input type="password" value="*******">
                </div>
                <div class="a">
                    <label>New Password</label>
                    <input type="password" value="********">
                </div>
                <div class="a">
                    <label>Confirm Password</label>
                    <input type="password" value="*******">
                </div>
                <!-- <div class="button a">
                    <input type="submit" value="Update profile">
                </div> -->
            </form>
            <div class="button a">
                <input type="submit" value="Update profile">
            </div>
        </div>
</section>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/all.min.js')}}"></script>
{% endblock %}