{% extends "base.html" %}{% block title %}privacy{% endblock %}
{% block content %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/all.min.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='style/privacy.css')}}">

    <div class="container">
        <div class=" title">
            <h2>Privacy Policy</h2>
        </div>
    </div>

    <div class="cont">
        <div class="a">
            <h3>01. Effective Date Changes</h3>
            <p>This Policy applies to all information collected by or provided to us in connection with the Services.
                Clarity may make changes to the Site in the future and as a consequence will need to revise this Policy
                to reflect those changes. Clarity will post all such changes on the Site, so you should review this page
                periodically. If we make a material change to the Policy, you will be provided with appropriate notice.
            </p>
        </div>
        <div class="a">
            <h3>02. Collected Information</h3>
            <p>When you log-in to or create an account with the Services, we collect the information you provide.This
                information may include personally identifiable information such as your name, mailing address, e-mail
                address and password. We may also collect your job title and information about the business or
                organization that you are associated with. To the extent you decline to share certain personally
                identifiable information with us, we may not be able to provide some or all of the features and
                functionalities found on the Services.<br>When you use the Services, we automatically gather certain
                non-personally identifiable information from you. This includes usage information, such as information
                on when, how often and for how long you use the Services and the content you submit and view. This also
                includes server log data such as the IP address, operating system, or the webpage you were visiting
                before you came to our Site. As described below, we also collect this information through a number of
                other means, including cookies, software development kits (“SDKs”) and other online tracking mechanisms.
                We may associate such non-personally identifiable information with the personally identifiable
                information that you provide in connection with the Services, but in those situations, we will treat
                that information consistently with the terms of this Policy. ‍ We also use cookies on the Site. Cookies
                are small files that are stored on your computer by your web browser. A cookie allows the Site to
                recognize whether you have visited before and may store user preferences and other information. For
                example, cookies can be used to collector store information about your use of the Site during your
                current session and over time (including the pages you view and the files you download), your computer’s
                operating system and browser type, your Internet service provider, your domain name and IP address, your
                general geographic location, the website that you visited before the Site, and the link you used to
                leave the Site. If you are concerned about having cookies on your computer, you can set your browser to
                refuse all cookies or to indicate when a cookie is being set, allowing you to decide whether to accept
                it. You can also delete cookies from your computer. However, if you choose to block or delete cookies,
                certain features of the Site may not operate correctly.<br> We use certain third-party services to
                assist us in analysis, auditing, research, and reporting regarding the Services. These third parties may
                use web logs or web beacons, and they may set and access cookies on your computer or other device. In
                particular, we use Google Analytics to help collect and analyze certain information for the purposes
                discussed in this Policy. For information about the privacy practices of Google Analytics, you can visit
                google.com/policies/privacy/partners/. You can learn how to opt out of the use of cookies by Google
                Analytics at https://tools.google.com. <br> If you participate in a transaction through the Services,
                such as making a payment through the Services for a product or setting up a recurring payment for our
                subscription services, our third-party payment processor will receive your payment information for
                purposes of processing such transaction and Clarity will receive such payment after any applicable fees
                have been deducted in accordance with Clarity’s agreement with such third party payment processor. Note
                that Clarity does not receive your credit card or bank information, and payment card information you
                provide through our Site is governed by the privacy policy and terms of service of our third-party
                payment processor.
            </p>
        </div>
        <div class="a">
            <h3>03. Use and Processing of Information</h3>
            <p>We use the information that we collect for a variety of purposes. Our legal bases for processing your
                personal information are: 1) our legitimate interest in running and maintaining our business; 2)
                performance and fulfillment of our contracts; 3) your consent; and4) compliance with our legal
                obligations. In many instances, more than one of these legal bases apply to the processing of your
                personal information. The purposes for which we may use your information include: We will use submitted
                information for the purposes for which you provided the information, including, for example, to create
                and maintain a Services account for you or respond to a question that you e-mail to us or submit through
                our customer service chat functionality. We also use submitted information and collected information as
                necessary to provide the features and functionality of the Services to you. We may send you e-mails
                regarding updates or modifications to the Services. We may analyze collected information relating to
                your use of the Services in order to help us improve the Services and develop and improve other products
                and services. We may use submitted information and collected information to help troubleshoot problems,
                provide you with required notices, enforce our Terms and Conditions of Service or to alert you to
                changes in our policies or agreements that may affect your use of the Services. We may use the
                information we collect automatically for interest-based advertisements, as described below. We may
                combine personally identifiable information collected through the Services with other information that
                we collect about you in other contexts—such as our communications with you via e-mail, phone or postal
                mail. We will handle such combined information in accordance with this Policy.</p>
        </div>
        <div class="a">
            <h3>04. Disclosure of Information</h3>
            <p>We disclose the personally identifiable and non-personally identifiable information that we collect about
                you as follows: The purposes for which we may use your information include: We may provide advertisers
                and other third parties with aggregated, non-personally identifiable information about our user base and
                its usage patterns. We may disclose personally identifiable information to third-party partners,
                including (without limitation) organizations and institutions with which you indicate an affiliation, in
                furtherance of our business arrangements with them, including without limitation to jointly offer a
                product or service to you or create interoperability between our products and services and the products
                and services of such partners. Clarity uses contractors and third-party service providers to provide the
                Services to our users and to help us provide services in connection with the Services. For example, we
                use third parties for email marketing and product fulfillment. Such third parties may receive
                information from us for use for such purposes. We may report aggregated, de-identified data relating to
                activity on the Services to third parties or the general public. We may combine such data with data
                obtained from third-party sources in order to generate such reports. We will use and disclose
                information where we, in good faith, believe that the law or legal process (such as a court order,
                search warrant or subpoena) requires us to do so; to investigate, prevent, or take action regarding
                illegal activities, suspected fraud, or violations of our terms and conditions; or in other
                circumstances where we believe is necessary to protect the rights or property of Clarity, our users, and
                third parties.</p>
        </div>
        <div class="a">
            <h3>05. Your Choices</h3>
            <p>You can contact Clarity to amend or delete your user account information at any time. Please note that
                while changes or deletions to your account information are reflected promptly in active user databases,
                our servers may retain previously provided information. Note that changes to, or deletion of, your
                Services account user information does not affect any other information collected by Clarity, which
                Clarity may retain and continue to use or disclose in accordance with this Policy. You may also opt out
                of receiving marketing emails from us by following the instructions in those emails or by emailing us at
                contact@medicall.com Depending on your jurisdiction, you may have additional rights available to you.
                These rights may include: ● The right to be informed about our data collection practices; ● The right to
                access and rectify your data; ● The right to erase your data; ● The right to data portability; ● The
                right to restrict and object to the processing of your data (including for direct marketing purposes);
                and ● The right to withdraw your consent (to the extent applicable). ‍ If you are an EU resident or a
                resident of a different jurisdiction where these rights apply, please contact us at contact@medicall.com
                to exercise your rights.</p>
        </div>
        <div class="a">
            <h3>06. Online Behavioral Advertising</h3>
            <p>We may engage third party online advertising technology service providers to help us deliver
                advertisements to you on websites you visit after using the Services. This is a common practice known as
                “re-targeting.” For information about these practices, visit the Network Advertising Initiative
                websiteor the Digital Advertising Alliance website at http://www.aboutads.info/. You may remove yourself
                from targeted advertising of companies within the Network Advertising Initiative by opting out at
                http://www.networkadvertising.org/choices/, or of companies participating in the Digital Advertising
                Alliance program by opting out at http://www.aboutads.info/choices. Like many websites, the Services
                does not currently respond to “do not track” browser headers, but you can limit tracking through these
                third-party programs by taking the steps discussed above.</p>
        </div>
        <div class="a">
            <h3>07. Security</h3>
            <p>The personally identifiable information we collect about you is stored in limited access servers. We will
                maintain reasonable safeguards to protect the security of these servers and your personally identifiable
                information. However, no security measures are 100% effective and we cannot guarantee the security of
                your personally identifiable information.</p>
        </div>
        <div class="a">
            <h3>08. Transfer As Corporate Asset</h3>
            <p>The personally identifiable information we collect about you is stored in limited access servers. We will
                maintain reasonable safeguards to protect the security of these servers and your personally identifiable
                information. However, no security measures are 100% effective and we cannot guarantee the security of
                your personally identifiable information.</p>
        </div>
        <div class="a">
            <h3>09. Children Under 13</h3>
            <p>Clarity does not knowingly collect information from children under 13 and the Services are intended for
                adults over the age of 18. If you are a parent and believe that your child under the age of 13 has used
                the Services and provided personally identifiable information to us through the Services, please contact
                us at contact@medicall.ma and we will work to delete that Services account and any such personally
                identifiable information.</p>
        </div>
        <div class="a">
            <h3>10. External Links</h3>
            <p>This Site may contain links to third-party websites. If you use these links, you will leave the Site. We
                have not reviewed these third-party sites and do not control and are not responsible for any of these
                sites, their content, or their privacy policy. Thus, we do not endorse or make any representations about
                them, or any information, software, or other products or materials found there, or any results that may
                be obtained from using them. If you decide to access any of the third-party sites listed on our website,
                you do so at your own risk.</p>
        </div>
        <div class="a">
            <h3>11. International Users</h3>
            <p>The information that we collect through or in connection with the Site is transferred to and processed in
                the United States for the purposes described above. We may also subcontract the processing of your data
                to, or otherwise share your data with, affiliates or third parties in the United States or countries
                other than your country of residence. The data-protection laws in these countries may be different from,
                and less stringent than, those in your country of residence. By using the Site or by providing any
                personal or other information to us, you expressly consent to such transfer and processing.</p>
        </div>
        <div class="a">
            <h3>12. Data Retention</h3>
            <p>We retain personal information about you necessary to fulfill the purpose for which that information was
                collected or as required or permitted by law. We do not retain personal information longer than is
                necessary for us to achieve the purposes for which we collected it. When we destroy your personal
                information, we do so in a way that prevents that information from being restored or reconstructed.</p>
        </div>
    </div>

    <!-- footer -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3 class="tititle">Medicall</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula
                            rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
                            vel in justo.</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="index.html">Emergencies</a></li>
                            <li><a href="index.html">Care Routines</a></li>
                            <li><a href="index.html">Hospitalization at home</a></li>
                            <li><a href="index.html">Family Medicine</a></li>
                            <li><a href="index.html">Telephone Assistance</a></li>
                            <li><a href="index.html">SOS Medicine</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Legal</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="/term">Term & Conditions</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a></div> -->
                </div>
                <p class="copyright">© Medicall 2022 All Right Reserved</p>
            </div>
        </footer>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock %}